@import url('https://fonts.googleapis.com/css?family=Roboto');
#toggle-offline{
    height: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #ff777c;
    overflow-y: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-property: all;
    -ms-transition-duration: 1s;
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#toggle-offline p{
    color:#fff;
    font-weight:700;
    text-align:center;
    padding-top: 10px;
}
#toggle-offline.up{
    height: 40px;
}
#header, #form-add-note{
    margin-bottom: 20px;
    margin-top:55px;
}

#content{
    padding-bottom: 20px;
}

#notes ul, #notes li{
    list-style: none;
}

#notes li {
    cursor: pointer;
    padding: 10px;
}

#notes li:hover{
    background-color: #607d8b;
    color: #fff;
}
*{
    background-color: transparent;
    box-sizing: border-box;
    border:none;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px;
}

h1, p{
    padding: 20px 0;
}

h1{
    text-align:center;
    font-size: 2.8em;
}
p{
    font-size: 1em;
}

input{
    font: inherit;
    padding: 10px 20px;
}

.container{
    width: 500px;
    margin: 0 auto;
    padding: 0px 20px;
}
.row{
    display: flex;
}
.col-1{
    flex-grow: 1;
}
.col-2{
    flex-grow: 2;
}
@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
}